// Your custom settings file to override Foundation defaults
@import "settings";

// theme color
@import "bright-theme";

$headerFontFamily: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontFamily: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Comment out this import if you are customizing you imports below
@import "foundation";

$fa-font-path: "../font";
@import "font-awesome";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


// topbar custom styles
.top-bar.expanded .toggle-topbar a {
    background-color: #333;
}

// accordion custom styles
$accordion-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -10%);
.accordion dd > a {
    & {
        background-color: $accordion-navigation-bg-color;
        border: solid 1px transparent;
    }
    
    &.active {
        background-color: $accordion-active-bg-color;
        border: solid 1px $accordion-active-bg-color;
        border-left: solid 5px $primary-color;
        border-bottom: none;
    }
    
    & > .fa-chevron-down, &.active > .fa-chevron-up {
        display: block;
    }
    
    & > .fa-chevron-up, &.active > .fa-chevron-down {
        display: none;
    }
}

.accordion .content {
    & {
        border: solid 1px transparent;
    }
    
    &.active {
        border: solid 1px $accordion-active-bg-color;
        border-top: none;
    }
}

.accordion .link {
    padding: $accordion-navigation-padding;
    background-color: #e8e8e8;
    
    a {
      color: $body-font-color;
    }
}

// product's line item style
.content-block {
  min-height: 143px; 
  max-height: 143px;
  
  .product-thumb {
    position: relative;
    .sale-image {
      position: absolute;
      top: 0;
      left: 15px;
      width: 50px;
    }
  }
  
  .content h3 {
     font-size: 120%; 
     margin-top: -6px;
  }
}

.sale_price {
  font-weight: bold;
  
  s {
    font-weight: normal;
    font-style: italic;
  }
}

// page header
.options.panel {
  h1 {
    font-size: 190%;
  }
}

// breadcrumbs
.breadcrumbs {
  font-size: $crumb-font-size;
}

// header
h2.clearboth-old {
  margin-top: 7px;
  margin-bottom: 7px;
}

.products_box > hr {
  margin-top: 0;
}