// Your custom settings file to override Foundation defaults
@import "settings";

// theme color
@import "bright-theme";

$headerFontFamily: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontFamily: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Comment out this import if you are customizing you imports below
@import "foundation";

$fa-font-path: "../font";
@import "font-awesome";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


// topbar custom styles
.top-bar.expanded .toggle-topbar a {
    background-color: #333;
}