#header, #main_navi, .breadcrumb a, #sidebar, #footer, .realated_product_section, .fav_link, .sale_img {
  display: none !important;
}
body, #main, #content, .column, #articletext, #footer {
  float: none !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}
 